---
title: Installing and Configuring Cloud Service Broker
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure <%= vars.product_short %>.


## <a id='install'></a> Install and Configure <%= vars.product_short %>

To install the <%= vars.product_short %> file on the <%= vars.ops_manager %> Installation Dashboard:

1. Download the product file from <%= vars.product_network %>.

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard and click **Import a Product** to
upload the product file.

1. Under **Import a Product**, click **+** next to the version number of <%= vars.product_short %>.
This adds the tile to your staging area.

1. Click the newly added **Cloud Service Broker** tile.


### <a id='az-networks'></a> Configure AZ and Networks

This section describes how to choose an AZ to run the service broker for <%= vars.product_short %>.
It also describes how to select networks for <%= vars.product_short %>.

To configure AZs and networks for <%= vars.product_short %>:

1. Click **Assign AZs and Networks**.

1. Configure the fields as follows:

    | Field |  Instructions |
    |-------|----------------|
    | Place singleton jobs in  | Select the AZ in which the <%= vars.product_short %> broker VM runs. The broker runs as a singleton job. |
    | Balance other jobs in | Select the AZs in which other jobs can run |
    | Network |  Select a subnet for the <%= vars.product_short %> broker. This is typically the same subnet that includes the <%= vars.app_runtime_abbr %> or <%= vars.app_runtime_full %> component VMs. |

1. Click **Save**.


### <a id="config-creds"></a> Configure Azure Credentials

This section describes how to configure the Azure credentials the broker requires to manage service
instances.

To configure Azure credentials:

1. Click **Azure Config**.

1. Configure the fields as follows:

    | Field | Instructions |
    |-------|--------------|
    | Subscription ID | Azure subscription ID |
    | Tenant ID | Azure tenant ID |
    | Client ID | Azure client ID |
    | Client Secret | Azure client secret |
    | Default Resource Group | Default resource group for Azure resources |
    | Location | Default Azure location for resources |
    | Disable Automatic Service Registration | Select to disable automatic service registration |

1. Return to the <%= vars.ops_manager %> Installation Dashboard and click **Apply changes** to
install <%= vars.product_short %> tile.

<%# If needed, include additional configuration information below. For example, maybe there are
configuration options not required for installation but which could be useful for certain users.
Typical topics include:**
1. **Self-service**--Do you have recommendations for how to configure/design plans in the tile so
that users can choose the best options for themselves?
1. **High availability**--How do you configure/deploy X Service tile to be highly available? %>
